.App {
  text-align: center; 
}

.image-carousel-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.image-carousel {
  position: relative;
  display: inline-block;
}

.carousel-image-wrapper {
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
}

button {
  margin: 5px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.upload-section {
  margin-top: 20px; 
}
